<% content_for :title, "Catalogue Koïs | Koi's Story" %>
<% content_for :skip_default_footer, true %>

<%= render "pages/home_header" %>
<%= render "pages/kois_hero" %>
<%= render "pages/kois_filter_bar", kois: @kois, varieties: @varieties %>

<main class="catalogue">
  <div class="catalogue__inner">
    <div class="koi-grid">
      <% @kois.each_with_index do |koi, index| %>
        <%= render "pages/koi_card", koi: koi, index: index %>
      <% end %>
    </div>
  </div>
</main>

<%= render "pages/home_footer" %>
