<% content_for :title, "Nous découvrir | Koi's Story" %>
<% content_for :skip_default_footer, true %>

<%= render "pages/home_wave_defs" %>
<%= render "pages/home_header" %>
<%= render "pages/decouvrir_hero" %>

<main id="main-content">
  <%= render "pages/decouvrir_story" %>
  <%= render "pages/decouvrir_gallery" %>
</main>

<%= render "pages/home_footer" %>
