<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Koi's Story</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin_application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "admin_application" %>
  </head>
  <body>
    <%= render "admin/shared/sidebar" %>
    <main class="main-content">
      <%= render "admin/shared/topbar" %>
      <% if notice %><div class="flash notice"><%= notice %></div><% end %>
      <% if alert %><div class="flash alert"><%= alert %></div><% end %>
      <%= yield %>
    </main>
  </body>
</html>
