<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Koi's Story" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "/docs/assets/LOGO%20MANU%20FINI.png", type: "image/png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag content_for(:extra_stylesheet), "data-turbo-track": "reload" if content_for?(:extra_stylesheet) %>
    <%= yield :head if content_for?(:head) %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= content_for(:body_class) if content_for?(:body_class) %>">
    <a href="#main-content" class="skip-link">Aller au contenu principal</a>
    <% if notice %><div class="flash notice"><%= notice %></div><% end %>
    <% if alert %><div class="flash alert"><%= alert %></div><% end %>
    <%= yield %>
    <%= render "layouts/footer" unless content_for?(:skip_default_footer) %>
  </body>
</html>
